//META{"name":"DiscordAPI","description":"Frost API Discord' Theme","author":"KrizFrost","version":"1.0"}*//{}
.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::before{content: var(--theme-name)" v" var(--version-content) "\A \A Theme Options:\A \A • Revert bottom to default\A • Bring back mention(s) notifications bar\A • Circle Avatars\A • Revert Min, Max, Close buttons to default\A • Better Mentions (Pulsing Box Shadow)\A • Show/Hide Blocked messages\A • Loading Theme Animation \A \A Theme Changes: \A \A • Updated Background \A • Secured Code • Badges Update 2 \A \A "!important;}

.message-group:not(.compact) .avatar-large[style*="117280061236707332"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style="117280061236707332"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Owner";
    color: #fff;
    border-radius: 3px;
    background: #3a71c1;
    margin-left: 6px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 1px 4px;
    line-height: 14px;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.guild.inner
{
    background-image: url(https://bearddesign.s-ul.eu/Dr2CyE1L.svg)!important;
}


.app:after {
    content: "Current version: v7.0b";
}

.message-group:not(.compact) .avatar-large[style*="193840603698692097"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style="193840603698692097"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Co-Owner";
    color: #fff;
    border-radius: 3px;
    background: #f04747;
    margin-left: 6px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 1px 4px;
    line-height: 14px;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}



.message-group:not(.compact) .avatar-large[style*="150124345010683905"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style="150124345010683905"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Gamer";
    color: #fff;
    border-radius: 3px;
    background: #13ff52;
    margin-left: 6px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 1px 4px;
    line-height: 14px;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}